.*
*.o
*.o.*
*.order
*.mod.c
*.a
*.s
*.ko
*.zip

modules.builtin

!.gitignore

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
boot.img
zImage
newramdisk.cpio.gz

#
# Generated include files
#
include/config
include/linux/version.h
include/generated

arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
include/config/auto.conf
include/config/kernel.release
include/generated/autoconf.h
include/generated/compile.h
include/generated/utsrelease.h
